<!-- 사물함 신청 페이지 -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center">
            <div class="container-fluid pt-4 px-4">
                <i class="bi bi-key fa-10x"></i>
                <h3>사물함을 신청하시겠습니까?</h3>
                <br />
            </div>
            <a class="btn btn-lg btn-success m-2 render" href="/" name="addLocker_{{ params['data'] }}">확인</a>
            <a class="btn btn-lg btn-danger m-2 render" href="/">취소</a>
        </div>
    </div>
</div>
<!-- Blank End -->
