<!-- 사물함 신청 현황 -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-5">
    <i class="bi bi-exclamation-square fa-5x"></i><br />
    <h4 class="text-black-50">등록된 사물함 없음</h4>
    <button type="button" class="btn btn-primary ms-2" onclick="csr_render('test');">추가하기</button>
  </div>
</div>
<!-- 사물함 신청 현황 끝-->

<!-- 사물함 신청 버튼 -->
<!-- 사물함 신청 버튼 끝 -->

<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
  <div class="h-100 bg-light rounded p-5">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <h6 class="mb-0">신청 가능한 사물함</h6>
      <a href="">모두 보기</a>
    </div>
    <div class="d-flex align-items-center border-bottom py-3">
      <div class="w-100 ms-3">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-0">사물함 - 300</h6>
          <small>사용 가능</small>
        </div>
        <span>AI 공학관 1층 2관</span>
      </div>
    </div>
    <div class="d-flex align-items-center border-bottom py-3">
      <div class="w-100 ms-3">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-0">사물함 - 310</h6>
          <small>사용 가능</small>
        </div>
        <span>AI 공학관 1층 2관</span>
      </div>
    </div>
    <div class="d-flex align-items-center border-bottom py-3">
      <div class="w-100 ms-3">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-0">사물함 - 341</h6>
          <small>사용 가능</small>
        </div>
        <span>AI 공학관 2층 3관</span>
      </div>
    </div>
  </div>
</div>
