<!-- 사물함 신청 현황 -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-5">
    <h4 class="text-black-50"><i class="bi bi-door-closed fa-5x"></i><br>사물함: {{ lock_name }}
  </div>
</div>
<!-- 사물함 신청 현황 끝-->
<!-- 사물함 신청 버튼 -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-2">
    <div class="col-sm-6 col-xl-3" onclick="doorOpen();">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        {% if is_open == 1 %}
        <i class="bi bi-unlock-fill fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">사물함 상태: 열림</p>
          <h6 class="mb-0">닫힘 대기중</h6>
          {% else %}
          <i class="bi bi-lock-fill fa-3x text-primary"></i>
          <div class="ms-3">
            <p class="mb-2">사물함 상태: 잠김</p>
            <h6 class="mb-0">열기</h6>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <a class="render bg-light rounded d-flex align-items-center justify-content-between p-4" href="/log">
          <i class="bi bi-clock-history fa-3x text-primary"></i>
          <div class="ms-3">
            <p class="mb-2 text-black-50">사물함 기록</p>
            <h6 class="mb-0">{{length}}건</h6>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-xl-3">
        <a class="render bg-light rounded d-flex align-items-center justify-content-between p-4" href="/settings">
          <i class="bi bi-gear-fill fa-3x text-primary"></i>
          <div class="ms-3">
            <p class="mb-2 text-black-50">사물함 설정</p>
            <h6 class="mb-0">근접 열기: 설정됨</h6>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-xl-3">
        <a class="render bg-light rounded d-flex align-items-center justify-content-between p-4" href="/unset" name="{{ token }}">
          <i class="bi bi-trash-fill fa-3x text-primary"></i>
          <div class="ms-4">
            <!-- <p class="mb-2">1층 1번 사물함</p> -->
            <h6 class="mb-0">사물함 해지</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- 사물함 신청 버튼 끝 -->


<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
  <div class="h-100 bg-light rounded p-5">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <h6 class="mb-0">최근 기록</h6>
      <a href="">모두 보기</a>
    </div>
    {% for log in logs %}
    <div class="d-flex align-items-center border-bottom py-3">
      {% if log['is_open']  == 1 %}
      <i class="bi bi-door-open fa-2x"></i>
      {% elif log['is_open'] == 2 %}
      <i class="bi bi-door-closed fa-2x"></i>
      {% else %}
      <i class="bi bi-x-square fa-2x"></i>
      {% endif %}
      <div class="w-100 ms-3">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-0">사물함</h6>
          <small>{{ log['time'] }}</small>
        </div>
        {% if log['is_open'] == 1 %}
        <span>열림</span>
        {% elif log['is_open'] == 2 %}
        <span>닫힘</span>
        {% else %}
        <span>경고: 강제 열림</span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Widgets End -->