<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center">
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <i class="bi bi-door-open fa-10x"></i>
                    <h4>사물함 : {{pos}}</h4>
                </div>
                <hr class="divider">
            </div>
            <div>
                <div class="bg-light rounded h-100 p-4">
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault"><label class="form-check-label" for="flexSwitchCheckDefault">자동 잠금 해제</label>
                                
                            </div>
                        </li>
                        <li class="list-group-item bg-transparent"><div
                            class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">접근 딜레이</label></li>
                    </ul>
                </div>
            </div>
            <div>
                <a class="btn btn-lg btn-primary m-2 render" href="/main">저장</a>
                
                
            </div>
        </div>

    </div>
</div>
<!-- Blank End -->
