{% extends 'static.html' %}
{% block static %}
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">로딩중...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="/" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Scale 사물함</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="{{ pic }}" alt="" style="width: 40px; height: 40px;">
                    <div
                        class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">{{ name }}</h6>
                    <span>{{ email }}</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="/" class="render nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>대시보드</a>
                <a href="log" class="render nav-item nav-link"><i class="fa fa-th me-2"></i>로그</a>
                <a href="info" class="render nav-item nav-link"><i class="fa fa-table me-2"></i>사물함 정보</a>
                <a href="detail" class="render nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>이용 통계</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="/" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0">사물함</h2>
            </a>
            <a class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">알림</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border rounded-bottom m-0"
                        id="notifications">
                        {% if notis %}
                        {% for param in notis %}
                        <a class="dropdown-item" href="log">
                            <h6 class="fw-normal mb-0">{{ param['title'] }}</h6>
                            <small>{{ param['content'] }}</small>
                        </a>
                        {% endfor %}
                        {% else %}
                        <a class="dropdown-item" onclick="null">
                            <h6 class="fw-normal mb-0">아무것도 없습니다...</h6>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{{ pic }}" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">{{ name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border rounded-bottom m-0">
                        <a href="/info" class="render dropdown-item">내 이용정보</a>
                        <a class="dropdown-item" onclick="send('msg', '하이브리드 앱 뷰 테스트입니다.');">설정</a>
                        <a href="/logout" class="dropdown-item" id='logout'
                            onclick="send('state', 'clear_cookie');">로그아웃</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <div id="alertSection"></div>

        <!-- Blank Start -->
        {% block content %}
        {% endblock %}
        <!-- Blank End -->


        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a>Lock Scale</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

{% endblock %}