{% extends 'base.html' %}
{% block content %}
<div id="app">
    {% for i in range(3) %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-5">
            <div class="empty-component short"></div>
            <div class="empty-component long"></div>
            <div class="empty-component long"></div>
        </div>
    </div>
    {% endfor %}
</div>
<script defer>
    send('state', 'login_complete');
    csr_render("{{ path }}");
</script>
{% endblock %}